body {
    background-image: url("../images/crystals_1920x1080.jpg");
    font-family: fantasy;
}

#title {
   width: 250px;
   font-weight: bolder;
   padding: 20px;
   background-color: rgba(62, 189, 248, 0.575)
}

.crystals-button {
    display: inline;
  }

  .crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: rgba(173, 216, 230, 0.562);
  }

  #rules {
    width: 400px;
    padding: 20px;
    margin-bottom: 20px;
    color: green;
    background-color: rgba(255, 228, 196, 0.37);
  }

  #screen {
    overflow: auto;
  }

  #screen {
    width: 200px;
    height: 150px;
    padding: 4px;
    margin-left: 20px;
    font-size: 4vw;
    color: purple;
    background-color: mediumseagreen;
  }
  
  #score {
    width: 210px;
    height: 100px;
    padding: 4px;
    margin-left: 20px;
    color: ghostwhite;
    background-color: darkcyan;
    margin-bottom: 20px;
  }
  
  #scorebanner {
    width: 210px;
    padding: 4px;
    margin-bottom: 4px;
    color: white;
    background-color: darkcyan;
    margin-left: 20px;
  }
  
  #score-number {
    font-size: 4vw;
    margin-left: 20px;
  }
  
  #win-lose {
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: aqua;
  }

  #align {
    width: 650px;
  }

  #crystal {
    margin-left: 4px;
    margin-bottom: 20px;
  }
  